.aboutList {
    
    background-color: rgba(0, 0, 0, 0);
}

.target {
    width: 100%;
    justify-content: center;
    text-align: left;
    display: block;
    background-color: rgba(0, 0, 0, 0);
}

.projectList {
    width: 100%;
    justify-content: center;
    text-align: left;
    background-color: rgba(0, 0, 0, 0);
}

.aboutUs {
    width: 100%;
    justify-content: center;
    text-align: left;
}

.targetDescription {
    text-align: left;
    display: block;
    padding: 10px;
}

.target ul {
    box-shadow: 0px 5px 10px 0px rgba(174, 174, 174, 0.5);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
.target li {
    margin-left: 30px;
}

.aboutListTitle {
    text-align: left;
    padding: 10px;
    margin: 10px;
    display: block;
    box-shadow: 0px 5px 10px 0px rgba(174, 174, 174, 0.5);
    border-radius: 10px;
}
.employeePropBox {
    padding: 10px;
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    align-items: center;
}
.projectsPropBox {
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.employeeBox, .projectBox {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0);
}
.employeeFunc {
    display: block;
    float: left;
    margin-left: 10px;
}

.projectsTime {
    display: block;
    float: left;
}

.employeeName, .projectsTitle {
    display: block;
    float: left;

}
.employeePost, .projectsPost {
    display: block;
    box-shadow: 0px 5px 10px 0px rgba(174, 174, 174, 0.5);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
.projectsPost {
    width: calc((100%/4) - 20px);
    display: flex;
    flex-direction: column;
}

.projectsPost {
    display: flex;
}

.employeeExp {
    display: block;
    float: left;
    margin-left: 10px;
}

.projectsService {
    display: block;
    float: left;
}

.employeePic {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    padding: 10px;
    float: left;
    display: block;
}

.projectsPic {
    width: 20rem;
    height: 20rem;
    border-radius: 1rem;
    padding: 10px;
    float: left;
    display: block;
}

/* .employeePic:hover {
    border: 2px solid rgb(255, 83, 83);
    transition: 300ms;
}
.employeePic:hover ~ .employeePropBox h4 {
    color:rgb(255, 83, 83);
} */
@media (min-width: 1800px) {
    .projectsPic {
        width: 20rem;
        height: 20rem;
        border-radius: 1rem;
    }

    .projectBox {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
@media (min-width: 1440px) and (max-width: 1800px) {
    .projectsPic {
        width: 10rem;
        height: 10rem;
        border-radius: 1rem;
    }
    .projectsPost {
        width: calc((100%/3) - 20px);
    }
    .projectBox {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (min-width: 730px) and (max-width: 1440px) {
    .projectsPic {
        width: 10rem;
        height: 10rem;
        border-radius: 1rem;
    }
    .projectsPost {
        width: calc(100% - 20px);
    }
}

@media (min-width: 540px) and (max-width: 730px) {
    .projectsPic {
        width: 16rem;
        height: 16rem;
        border-radius: 1rem;
    }
    .projectBox {
        flex-direction: column;
    }
    .projectsPost {
        width: calc(100% - 20px);
    }
}

@media (max-width: 540px) {
    .projectsPic {
        width: 8rem;
        height: 8rem;
        border-radius: 1rem;
    }
    .projectsPost {
        display: flex;
        flex-direction: column;
    }
    .projectBox {
        flex-direction: column;
    }
    .employeePic {
        width: 4rem;
        height: 4rem;
    }
    .projectsPost {
        width: calc(100% - 20px);
    }
}